/*
Coniunctio
Copyright (C) 2020 Felix v. Oertzen

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published
by the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/
* {
  font-family:San Francisco, Helvetica Neue, Arial;
  color-scheme: light dark;
}

#title {
    background-color: white;
    color: black;
    font-size: 5.5vh;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
}

#title > span {
  font-size:60%;
}

#shortlinkform {
  margin-bottom: 64px !important;
}

a, a:hover, a:visited, a:active  {
  color:inherit;
  text-decoration: none;
 }

input[type=text], input[type=password], input[type=date], select, textarea {
  width: 100%;
  padding: 12px;
  margin-left: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

span {
  flex-grow: 1;
  padding: 12px 12px 12px 0;
}

.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
  margin: 40px;
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #333333;

  }
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
input[type=submit] {
  background-color: #B22222;
  border: 1px solid #a11111;
  color: white;
  font-size: large;
  padding: 10px 24px 10px 24px;
  margin-top: 24px;
  float: right;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance:button;
}
input[type=button] {
  background-color: #B22222;
  border: 1px solid #a11111;
  color: white;
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance:button;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  input[type=submit]{
    margin-top: 12px;
  }
  input[type=password]{
    margin-left: 0px;
  }
  .container {
    padding: 8px;
    margin: 0px;
  }
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  width: 100%;
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 5px;
  text-align: center;
}



/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 5.5s;
  animation: fadein 0.5s, fadeout 0.5s 5.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}


footer {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: smaller;
  width: 100%;
  background-color: #3b3b3b;
  color: #b3b3b3;
  padding: 5px;
  text-align: center;
}
